.App {
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.blur {
  background: rgb(241, 244, 242, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(250, 245, 245, 0.18);
}
.text_success {
  font-size: 16px;
  color: green;
}
.text_normal {
  font-size: 16px;
  color: black;
}
.text_bold {
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.button_normal {
  width: 80px;
  border-radius: 5px;
  outline: none;
  background-color: grey;
  color: white;
  border: 1px solid grey;
  height: 30px;
}

.button_cancel {
  width: 80px;
  border-radius: 5px;
  outline: none;
  background-color: rgba(143, 136, 136, 0.163);
  color: red;
  border: 1px solid orange;
  height: 30px;
}

.button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
::-webkit-file-upload-button {
  background: grey;
  color: white;
  height: 25px;
  border-radius: 5px;
  outline: none;
}
